#container {
    width: 700px;
    height: 700px;
    margin: 50px auto;
}

#metadata {
    font-family: monospace;
    margin: 10px 0;
    padding: 5px;
    color: darkRed;
}

#canvas {
    width: 100%;
    height: 100%;
}