/* * {
    border: 1px dashed blue;
} */



html {
    height:100%;
    background: url(http://angusbayley.co.uk/DSC_0039blur.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: helvetica;
    font-weight: 200;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    height: 100%;
}

#entireWrapper {
    height: 100%;
}

.stack {
    vertical-align: top;
    display: inline-block;
    padding-right: 5px;
    white-space: normal;
}

#leftBar {
    height: 100%;
    width: 320px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0px;
    padding-right: 0px;
    white-space: normal;
    background-color: white;
}

#mouseCapture {
    margin-top: 20px;
}

h1 {
    padding: 0 0 0 5px;
    display: inline-block;
    margin-top: 0px;
    margin-right: 35px;
}

.fa-question-circle {
    color: steelblue;
}

.fa-question-circle:hover {
    cursor: pointer;
    color: #386890;
}

#helpDropdown {
    width: 93%;
    display: block;
    position: relative;
    top: -25px;
    margin-bottom: -40px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px dashed steelblue;*/
    opacity: 0;
}

.helpBoxTriangle {
    border-bottom: 13px solid steelblue; 
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
    width: 0px;
    margin-bottom: -5px
}

#helpDropdown .helpBoxTriangle {
    margin-left: 271px;
}

#helpDropdown .helpTextContainer {
    font-size: 0.8em;
}

.helpTextContainer {
    background-color: steelblue;
    border-radius: 10px;
    color: white;
    padding: 5px;
    -moz-box-shadow: 3px 3px 5px 0px #ccc;
    -webkit-box-shadow: 3px 3px 5px 0px #ccc;
    box-shadow: 3px 3px 5px 0px #ccc;
}

#helpDropdown span {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: underline;
    cursor: pointer;
}

#explnContainer {
    width: 100%;
    position: relative;
}

.explnDropdown{
    width: 93%;
    display: inline;
    position: absolute;
    font-size: 0.9em;
    left:0;
    top:0;
    opacity: 0;
    z-index: 0;
}

#GearR .helpBoxTriangle {
    margin-left: 30px;
}

#speed .helpBoxTriangle {
    margin-left: 140px;
}

#GainR .helpBoxTriangle {
    margin-left: 250px;
}

.explnDropdown .helpTextContainer {
    width: 60%;
}

#GearR .helpTextContainer {
    margin-left: 0px;
}

#speed .helpTextContainer {
    margin-left: 60px;
}

#GainR .helpTextContainer {
    margin-left: 120px;
}

#entries {
    width: 310px;
    height: 390px;
    padding: 5px;
    font-size: 0.8em;
}

p {
    padding: 0 0px 0 0px;
}

h3 {
    padding: 0;
    margin: 0;
    display: inline;
}

#buttons {
    margin: auto;
    padding: 5px;
    width: 300px;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 0 5px 2px;
    width: 21px;
}

#frontGearInputContainer {
    width: 195px;
    position: relative;
    z-index: 0;
    margin: -29px 0 0 127px;
}

#rearGearInputContainer {
    width: 195px;
    position: relative;
    z-index: 1;
    margin: -29px 0 0 127px;
}

.InputContainer {
    width: 183px;
    height: 40px;
    position: relative;
    margin: -19px 0 0 127px;
}

#crankLengthSliderBox {
    margin: auto;
    margin-bottom: 0px;
    display: none;
}

#crankLength {
    border: 0;
    background-color: #FFEDDC;
    color: #f6931f;
    font-weight: bold;
    margin-bottom: 10px;
    width: 55px;
}

#rpmSliderBox {
    margin: auto;
    margin-bottom: 0px;
    display: none;
}

#rpm {
    border: 0;
    background-color: #FFEDDC;
    color: #f6931f;
    font-weight: bold;
    width: 55px;
    margin-bottom: 10px;
}


#wheelRadiusBox {
    margin: 0px 0px 0px 0px;
    display: none;
}

#units {
    display: none;
}

.tyre{
    display:none;
}

#wheel700{
    display: inline-block;
}

#introMessage {
    opacity: 0;
    display: inline-block;
    position: relative;
    top: 86px;
    margin-left: 10px;
    padding: 3px 10px 5px 10px;
    background-color: white;
    border-radius: 20px;
}

#arrow {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

#arrowTriangle {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:20px solid black; 
}

#arrowBar {
    display: inline-block;
    width: 50px;
    height: 10px;
    margin-left: -10px;
    background-color: black;
    position: relative;
    top: -10px;
}

#introWords {
    display: inline;
    font-size: 2em;
}

#introWords span {
    background-color: steelblue;
    border: 1px solid steelblue; /*#386890*/
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: 0.6em;
    padding: 4.5px;
    position: relative;
    top: -4px;
    left: 2px;
}

#introWords span:hover {
    background-color: #386890
}

#stacks {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

#resultsStack {
    margin-left: 10px;
    opacity: 0;
}

.results_table {
    width: 400px;
    height: 170px;
    background-color: rgba(255,255,255,0.7);
    padding: 5px;
    margin-bottom: 10px;
}

.resultsContainer {
    height: 123px;
    display: table;
    width: 100%;
}

.resultsContainer2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.result1 {
    display: inline-block;
    padding: 5px;
}

.results_chart {
    background-color: rgba(255,255,255,0.7);
    width: 400px;
    height: 310px;
    padding: 5px;
}

.image {
    position: relative;
    width: 287px;
    height: 200px;
}

#fronttable1{
   background-color: steelblue;
}
#fronttable2{
   background-color: #6CBFE8;
}
#fronttable3{
   background-color: white;
}
#reartable{
   background-color: #BFBFBF;
   width: 30px;
}
#geartable{
   background-color: #FFFFFF;
}
.ratiotable1{
   background-color: #7EA8CA;
   color: white;
   font-size: 0.8em;
}
.ratiotable2{
   background-color: #A7D9F1;
   color: white;
   font-size: 0.8em;
}
.ratiotable3{
   background-color: white;
   color: steelblue;
   font-size: 0.8em;
}
.table{
    width: 20px;
    height: 20px;
    
}

#save {
    float: left; 
}

#calculateThis {
    float: right; 
}

.fa-times {
    color: steelblue;
    display: inline-block;
    float: right;
    opacity: 0.5;
    width: 20px;
    height: 20px;
}

.fa-times:hover {
    cursor: pointer;
    opacity: 1;
}

.results_chart .rect1 {
    fill: #7EA8CA;
/*    stroke: white;*/
}

.results_chart .rect2 {
    fill: #A7D9F1;
/*    stroke: white;*/
}

.results_chart .rect3 {
    fill: white;
    stroke: steelblue;
}

.results_chart .key1 {
    fill: steelblue;
    stroke: white;
}

.results_chart .key2 {
    fill: #6CBFE8;
    stroke: white;
}

.results_chart .key3 {
    fill: white;
    stroke: steelblue;
}

.results_chart .keyText {
    font-size: 0.8em;
}

.results_chart .chainrings {
    font-size: 0.8em;
}

.radio {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.radio:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}

.radio2 {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.radio2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}

.selected {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}

/*
#newMask {
    background-color: white;
    width: 410px;
    height: 515px;
    display: inline-block;
    position: relative;
    margin-right: -416px;
    padding-left: 10px;
    opacity: 0;
}

.mask {
    background-color: white;
    width: 410px;
    height: 515px;
    display: inline-block;
    position: relative;
    margin-right: -416px;
    padding-left: 10px;
    opacity: 0.5;
}


#newMaskedStack {
    margin-left: -416px;
}

.maskedStack {
    display: inline-block;
    margin-right: 0;
}
*/

#newStack {
    margin-left: -415px;
}

#footer {
    font-size: 0.8em;
    padding: 0 0 0 5px;
    position: absolute;
    bottom: 0;
    width: 315px;
}

#footer span {
    color: red;
}

#footer a {
    text-decoration: none;
}

#about {
    position: absolute;
    background-color: white;
    width: 400px;
    top: 100px;
    left: 400px;
    z-index: -1;
    opacity: 0;
    white-space: normal;
}
#aboutText {
    /*overflow: auto;*/
    width: 380px;
    padding: 15px;
/*    word-break: break-all; 
    word-wrap: break-word;*/
}

#aboutText span {
    color: steelblue;
    cursor: pointer;
}

#aboutText a {
    text-decoration: none;
    color: steelblue;
}

h2 {
    margin-top: 5px;
}